<!DOCTYPE html>
<html lang="en">
<head>
  <title>All Products</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Mangement product</h1>
  <p>you can delete and update at here!</p>
    <form action="/doSearch" method="post">
        Name <input type="text" name="txtName" id="">
        <input type="submit" value="Search">
    </form> 
</div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home page</a></li>
        <li><a href="/allProduct">Products</a></li>
        <li><a href="/insert">Add new product</a></li>
      </ul>
        <center><table style="" width="50%" border="1">
        <tr>
            <td>MSP</td>
            <td>Name</td>
            <td>number of product</td>
            <td>Price</td>
            <td>Delete</td>
            <td>Update</td>
        </tr>
        {{# each model}}
        <tr>
            <td>{{MSP}}</td>
            <td>{{name}}</td>
            <td>{{Sl}}</td>
            <td>{{Price}}</td>
            <td><a href="/delete?id={{_id}}">delete</a></td>            
            <td><a href="/update?id={{_id}}">Update</a></td>
        </tr>  
        {{/each}}
</table></center>
        
</body>
</html>
